* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: #100F25;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#game {
    padding: 20px;
    background-color: #fff;
}

#board {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1px; */
}

.casa {
    width: 40px;
    height: 40px;
    background-color: #000;
}

.head {
    background-color: #151576;
}

.snake {
    background-color: #5858a4;
}

.food {
    background-color: #9f0505;
}

/* * {
    max-width: 90vw;
    max-height: 90vw;
    width: 1000px;
    height: 1000px;
    background-color: #000000;
} */